body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #14131a;
  overflow-y: hidden;
}
b {
  font-family: "Oswald", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  position: relative;
}

p {
  margin: 0px;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  margin: 0px;
}
.year {
  position: absolute;
  display: block;
  background: rgb(95, 17, 7);
  color: white;
  padding: 0 4px;
  right: 0;
  bottom: 0;
}
.record {
  position: relative;
  background: rgb(26, 22, 22);
  color: rgb(255, 255, 247);
}

.record:hover {
  background: #353535;
}

.shelf {
  display: inline-block;
  text-align: center;
  overflow: auto;
}

@-moz-document url-prefix() {
  .shelf {
    padding-right: 17px;
  }
}

.list {
  white-space: normal;
  max-width: 234px;
  padding: 4px;
}

/* width */
::-webkit-scrollbar,
.shelf::-webkit-scrollbar,
.list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track,
.shelf::-webkit-scrollbar-track,
.list::-webkit-scrollbar-track {
  background: #14131a;
}

/* Track on hover*/
::-webkit-scrollbar-track:hover,
.shelf::-webkit-scrollbar-track:hover,
.list::-webkit-scrollbar-track:hover {
  background: #2f2d3b;
}

/* Handle */
::-webkit-scrollbar-thumb,
.shelf::-webkit-scrollbar-thumb,
.list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.shelf::-webkit-scrollbar-thumb:hover,
.list::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 94, 94);
}

.deleteButton {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(95, 17, 7);
  border-width: 1px;
  border-color: #f1f1f1;
  font-family: "Oswald", sans-serif;
  width: 28px;
  height: 28px;
  padding: 0px;
  z-index: 9999;
  left: -28px;
  top: 0px;
}

.buttonX {
  position: relative;
  font-size: 2.5em;
  top: -0.51em;
}
.deleteButton:hover {
  background: rgba(255, 255, 255, 0.7);
}

.deleteButton:active {
  background: rgba(255, 255, 255, 0.5);
}

.addButton {
  position: absolute;
  display: inline-block;
  background: #5fba7d;
}

.buttonPlus {
  position: relative;
  font-size: 2.5em;
}

.shelfTitle {
  position: absolute;
  width: 219px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform-origin: 44px 201px 0;
  transform: rotate(270deg);
  font-size: 1.2em;
  font-family: "Dosis", sans-serif;
  color: white;
  background: #1d1b25;
  border-width: 1px;
  border-color: #f1f1f1;
  z-index: 9999;
}

.shelfTitle:hover {
  cursor: vertical-text;
}

.recordTitle {
  font-size: 1.8em;
  display: block;
  max-height: 112px;
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.row {
  display: flex;
}

.detail {
  flex: 50%;
}
